@font-face{
	font-family: 'El Tito Adolfo.otf';
	font-style: normal;
	font-weight: normal;
	src: local('El Tito Adolfo'), url('El Tito Adolfo.otf') format('OTF');
}

h1{
	font-family: 'El Tito Adolfo.otf';
	font-weight: 400;
	color: #0ccac4;
	font-size: 3rem;
	
}